.author-blurb-text {
  font-size: 14px;
}
.author-blurb-highlight {
  font-size: 14px;
  font-weight: bold;
  margin-top: -15px;
  color: #00cdcd;
}
.follow-me {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.list-inline>li {
  display: inline-block;
  padding-right: 0px;
  padding-left: 0px;
}
.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: -15px;
}
a {
  font-size: 14px;
  text-decoration: none;
  text-decoration-color: #00cdcd;
  transition: color 0.15s ease-in;
  color: #404040;
}
.button {
  color: #00cdcd;
}
