<% if(theme.widgets.author_blurb){ %>
    <div class="sidebar-module sidebar-module-inset">
    <img  class="img-responsive img-circle" src="<%- theme.widgets.author_blurb.avatar_url%>" alt="user-avatar" />
        <p class="author-blurb-text text-center"><%- theme.widgets.author_blurb.text %></p>
        <p class=" author-blurb-highlight text-center"><%- theme.widgets.author_blurb.highlight %></p>
    </div>

<% } %>